@model Blogger.Models.Post

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<fieldset>
    <legend>Post</legend>

    <h1>
         @Html.DisplayNameFor(model => model.Name)
    </h1>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <h1>
         @Html.DisplayNameFor(model => model.Description)
    </h1>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <h1>
         @Html.DisplayNameFor(model => model.Date)
    </h1>
    <div class="display-field">
        @Html.DisplayFor(model => model.Date)
    </div>
</fieldset>

@{Html.RenderAction("CategoryNavigation");}
@{Html.RenderAction("PostList");}

@{Html.RenderAction("Archives");}

@{Html.RenderAction("Comments");}
